@media screen and (max-width: 375px) {
    body {
        background-image: url(images/bg-mobile.svg);
        background-repeat: no-repeat;
        background-color: hsl(257, 40%, 49%);
        height: 99vh;
        margin: 0px auto;
        color: white;
    }
    .div1 {
        width: 1rem;
        padding: 1.8rem 1.5rem 3.1rem 1.5rem;
    }
    .div1 img{
        width: 8.9rem;
    }
    #main {
        display: flex;
        width: 100%;
        margin-top: 0px;
        flex-direction: column;
        align-items: center;
        width: 97vw;
    }
    #main img {
        width: 85%;
    }
    h1 {
        font-family: "Poppins", sans-serif;
        margin-top: 3.7em;
        margin-right: 2.3em;
        margin-left: 2.3em;
        font-size: 1.3em;
        font-weight: 400;
    }
    #main .text {
        text-align: center;     
    }
    #main .text p {
        font-family: 'Open Sans', sans-serif;
        font-size: 1.2rem;
        font-weight: small;
        margin: 0rem 0.1rem 1.7rem 0.1rem; 
        text-align: center;
        color: hsl(55, 5%, 84%);
    }
    button {
        font-family: "Poppins", sans-serif;
        font-size: 0.7em;
        width: 55%;
        height: 3.2em;
        background-color: white;
        color: hsl(257, 40%, 49%);
        border-radius: 25px;
        border-width: 0;
        box-shadow: 2px 3px 7px -2px hsl(0, 0%, 20%);
    }
    button:hover {
        background-color: hsl(300, 69%, 71%);
        color: white;
    }
    .icons {
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin-top: 3.5em;
        margin-bottom: 0.5em;
    }
    .icons a {
        width: 2em; 
        height: 2em; 
        border: 1px solid white; 
        background-color: transparent; 
        border-radius: 50%;
        text-align: center;
        margin: 0.4rem;
        font-weight: normal;
        color: white;
        line-height: 33px;
    }
    .icons a:hover {
        border-color: hsl(300, 69%, 71%);
    }
    a i:hover {
        color: hsl(300, 69%, 71%);
    }
    .attribution { 
        font-size: 10px; 
        text-align: center; 
        margin-right: 2rem;
    }
    .attribution a { 
        color: rgb(224, 0, 0);
    }
}
    
